/*CSS de la page ( admin.php )*/

body {
    background-color: rgb(126, 233, 224);
}

header {
    border-bottom: 1px solid;
    text-align: center;
    height: 150px; 
    width: 100%;
}

#btn_valide {
    margin-top: 10px;
}

#btn_delete {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#btn_post {
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    height: 35px;
}

.div_center {
    height: auto;
    width: 100%;
}

.div_articles {
    margin-top: 20px;
    font-size:x-large;
    width: auto;
    height: 160px;
}

.div_content {
    margin-top: 35px;
}

.footer {
    border: solid 2px white;
    background: rgba(29, 27, 27, 0.911);
    bottom: 0;
    left: 0;
    width: 97%;
    height: 40px;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    font-family: 'Signika Negative', sans-serif; 
    margin-top: 55px;
}

#div-accueil, #div-para, #div-compte, #div-conf {
    margin-right: 300px;
}

.div-footer {
    margin-top: 10px;
    margin-left: 200px;
}

/*CSS du la page ( admin_updateArticle.php )*/

.div-text {
    margin-top: 40px;
}

#txt-content {
    margin-top: 20px;
    resize: none;
}

#txt-title {
    resize: none;
}

.update-art {
    margin-top: 25px;
    margin-bottom: 35px;
    font-size: 20px;
}

.delete-art {
    font-size: 20px;
    margin-bottom: 10px;
}

#btn-update_content {
    margin-top: 20px;
}

#btn-return {
    margin-top: 15px;
    margin-left: 15px;
}