body {
    background-color: #a6be99;
}

.text_comment {
    margin-top: 15px;
}

.div {
    height: 620px;
    width: auto;
    margin-top: 70px;
}

.btn_comment {
    border-radius: 5px;
    border: none;
    height: 35px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    background-color: rgb(96, 0, 185);
    color: white;
}

.area {
    margin-left: 15px;
    margin-bottom: 15px;
}

.footer {
    border: solid 2px white;
    background: rgba(29, 27, 27, 0.911);
    bottom: 0;
    left: 0;
    width: 97%;
    height: 40px;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    font-family: 'Signika Negative', sans-serif; 
}

#div-accueil, #div-para, #div-compte, #div-conf {
    margin-right: 300px;
}

.div-footer {
    margin-top: 10px;
}